@import '../../../assets/sass/custom.scss';

$color-dropdown-menu: rgba(217, 217, 217, 0.15);

.custom-logo {
    font-size: $font-title-size-1;
    color: $color-black-2;

    padding: .1rem 1rem;
    border-radius: 50px;

    img {
        height: 50px;
    }
}

.custom-nav-link {
    color: $color-white-1;

    &:hover, &:focus {
        color: $color-yellow;
    }
}

.dropdown-toggle {
    color: $color-white-1;

    &:hover, &:focus {
        color: $color-yellow !important;
    }
}

.dropdown-menu {
    background-color: $color-dropdown-menu !important;
}

.custom-nav-auth-button {
    color: $color-black-0;

    background: linear-gradient(180deg, #FFD600 0%, rgba(241, 220, 220, 0.956793) 0.01%, rgba(255, 214, 0, 0.901042) 73.96%);

    &:hover, &:focus {
        color: $color-white-1;
        background: none;
        box-shadow: 0 0 16px #acd2f1;
    }
}

.custom-nav-link, .custom-nav-auth-button {
    font-weight: 600;
    font-size: 1.2rem;

    padding: .5rem 1.4rem;
    border-radius: 50px;
    margin-top: .4rem;
    margin-bottom: .4rem;
    cursor: pointer;

    // transition: all 0.1s ease;
    transition: all 0.3s ease 0s;
    display: flex;
    align-items: center;
}

.navbar-toggler {
    color: $color-black-1 !important;
    background-color: $color-white-1 !important;

    // .navbar-toggle-icon {
    //     background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    // }
}

.custome-navbar-container {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

.nft-nav-dropdown {
    margin-left: 1rem;
}

.dropdown-toggle {
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: .4rem;
    color: $color-white-1 !important;
    margin-bottom: .4rem;
}

.dropdown-item {
    color: $color-white-1 !important;
    font-size: 1.3rem !important;
    font-weight: 600 !important;

    &:hover, &:focus {
        background-color: rgba(217, 217, 217, 0) !important;
        & > a {
            color: $color-yellow !important;
        }
    }
}

// @media screen and (max-width: 768px) {
@media screen and (max-width: 991px) {
    #responsive-navbar-nav {
        padding: 1rem 2rem !important;
        background-color: #ffffff33;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .dropdown-toggle {
        margin-left: 1.5rem;
    }

    .nft-nav-dropdown {
        margin-left: 0rem;
    }
}

@media screen and (min-width: 991px) {
    .nft-nav-dropdown.nav-item.dropdown {
        display: flex;
        align-items: center;
    }
}

a {
    text-decoration: none !important;
}

.dropdown-item a {
    color: black;
}

// .dropdown-item.active, .dropdown-item:active {
//     background-color: white !important;
// }