@import '../../assets/sass/custom.scss';

.container {
    font-family: $font-main !important;

    .nav-tabs {
        border-bottom: 0px solid transparent !important;
        position: relative;
        left: 9%;

        .nav-link {
            background: transparent;
            color: white;
            font-size: 16px;
            font-weight: 700;
            border: none;

            &.active {
                color: black !important;
                background: linear-gradient(180deg, #FFFFFE 0%, #EFCD1B 83.85%);
            }

            &:hover, &:focus {
                border-color: transparent !important;
                border-bottom: 1px solid #e9ecef !important;
            }
        }
    }

    .tab-1 {
        .left-sidebar {
            img {
                position: fixed;
                left: 2%;
                top: 60%;
                visibility: visible;

                @media (max-width: 1400px) {
                    left: 1%;
                }

                @media (max-width: 996px) {
                    left: 0%;
                }

                @media (max-width: 768px) {
                    left: 5%;
                }

                @media (max-width: 576px) {
                    left: 1%;
                }
            }
        }

        .right-sidebar {
            img {
                position: fixed;
                right: 2%;
                top: 70%;
                visibility: visible !important;
                z-index: -1;

                @media (max-width: 1400px) {
                    right: 1%;
                }

                @media (max-width: 996px) {
                    right: 0%;
                }

                @media (max-width: 768px) {
                    right: 5%;
                }

                @media (max-width: 576px) {
                    right: 1%;
                }
            }
        }
    }

    .tab-2 {
        .left-sidebar {
            img {
                position: fixed;
                left: 2%;
                top: 60%;
                visibility: visible;

                @media (max-width: 1400px) {
                    left: 1%;
                }

                @media (max-width: 996px) {
                    left: 0%;
                }

                @media (max-width: 768px) {
                    left: 5%;
                }

                @media (max-width: 576px) {
                    left: 1%;
                }
            }
        }

        .reward-widget-wrap {
            position: relative;

            .reward-widget-wrap-left {
                .rewards-amount-staking {
                    background: rgba(217, 217, 217, 0.15);
                    border: 1px solid #FBDADA;
                    border-radius: 45px;
                    display: flex;
                    max-width: 320px;
                    left: 50px;
                }

                img {
                    display: flex;
                    margin-left: 50px;
                }
            }

            .btn-claim-wrap {
                position:absolute;
                right: 50px;
                top: 10px;

                .btn-claim-wrap-2 {
                    position: relative;
    
                    .btn-claim {
                        border-radius: 26px !important;
                        color: black !important;
                        background: linear-gradient(180deg, #FFFFFE 0%, #EFCD1B 83.85%);
                        border: none;
                        font-weight: 600;
                    }
    
                    img {
                        position: absolute;
                        right: -38px;
                        top: 14px;
                    }
                }
            }            
        }
    }

    .nft-tab {
        margin-top: 20px;

        .staking-pool-info-wrap {
            position: relative;

            .staking-pool-info{
                color: white !important;
                font-size: 24px;
                font-weight: 500;
                display: flex;
                background: rgba(217, 217, 217, 0.15);
                border: 1px solid #FBDADA;
                border-radius: 45px;
                max-width: 280px;
                padding: 0px 10px;
                justify-content: center;
                font-family: $font-main !important;
            
                &.nft-apr-info {
                    margin-left: 70px;
                }
            }

            img {
                position: absolute;
                top: 10px;
                right: 8%;

                @media (max-width: 600px) {
                    visibility: hidden !important;
                }
            }
        }
    }
}

.rewards-amount-staking {
    color: white !important;
    font-size: 24px;
    font-weight: 500;
    text-align: right;
}

.btn-claim {
    border-radius: 8px !important;
    background-color: #ba16b9 !important;
    border-color: #ba16b9 !important;
    width: 100px !important;
    height: 40px;
    text-align: center;
}

@media (max-width: 767.98px) {
    .rewards-amount-staking{
        text-align: center !important;
    }
}