@import '../../assets/sass/custom.scss';

.color-white {
    color: $color-white-1;
}

.custom-breeding-container {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    padding-top: 4rem !important;
}

.nft-male-collection {
    text-align: center;
}

.nft-female-collection {
    text-align: center;
}

.nft-type {
    font-weight: 600 !important;
    color: white;
    font-family: 'Roboto';
}

.nft-selector {
    font-family: 'Roboto';
    width: 250px;
    font-size: 1.5rem;
    color: black !important;
    margin-top: 10px;
}

.ant-select-arrow {
    color: black !important;
}

.ant-select-selection-item {
    font-family: 'Roboto' !important;
}

.ant-select-item-option-content {
    font-family: 'Roboto' !important;
    color: black !important;
    font-size: 1.5rem !important;
}

.nft-image {
    width: 250px;
    margin-top: 20px;
}

.nft-plus {
    align-self: center;
}

.nft-breeding-text {
    font-size: 4rem;
    font-weight: 600 !important;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.breeding-button {
    text-align: center;
}

.nft-start-breeding-buttons {
    margin-top: 50px;
    padding: 12px 20px !important;
    border-radius: 30px !important;
    background-color: #ba16b9 !important;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease !important;
    color: #fff !important;
    line-height: 26px !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 16px !important;
    width: 200px;
    height: 50px;
    border: 0px solid !important;
    margin-bottom: 3rem !important;
    // margin-left: 3rem;

}

.nft-start-breeding-buttons:hover {
    background-color: hsla(0, 0%, 100%, 0.82) !important;
    font-family: Inter, sans-serif;
    color: #0d0d0d !important;
    font-weight: 600;
}

.nft-start-breeding-buttons:focus {
    outline: none !important;
    box-shadow: none !important;
}

.nft-not-found-text {
    margin-top: 50px;
    font-size: 2rem;
    color: white;
}

.nft-not-found-mint-button {
    margin-top: 10px;
    padding: 12px 20px !important;
    border-radius: 30px !important;
    background-color: #ba16b9 !important;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease !important;
    color: #fff !important;
    line-height: 26px !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 16px !important;
    width: 200px;
    height: 50px;
    border: 0px solid !important;
    // margin-left: 3rem;

}

.nft-not-found-mint-button:hover {
    background-color: hsla(0, 0%, 100%, 0.82) !important;
    font-family: Inter, sans-serif;
    color: #0d0d0d !important;
    font-weight: 600;
}

.nft-not-found-mint-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.custom-count-down {
    text-align: center;
    // margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 24px !important;
    font-family: 'Roboto' !important;
}

.customer-timer-time {
    font-family: 'Roboto' !important;
}

.customer-timer-uint {
    font-family: 'Roboto' !important;
}

.breeding-nft-id {
    color: white;
    font-family: 'Roboto' !important;
    margin-top: 1rem;
}

@media (max-width: 767.98px) {
    .custom-breeding-container {
        padding-top: 2rem !important;
    }
    .nft-breeding-text {
        margin-top: 20px !important;
        margin-bottom: 20px !important;
    }
    .customer-timer-block {
        margin-top: 5px;
    }
    .custom-count-down {
        margin-bottom: 2rem !important;
    }
}
