@import '../../assets/sass/custom.scss';

.color-white {
    color: $color-white-1;
}

.custom-presale-container {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
    padding-top: 4rem !important;
}

.custom-nft-mint-text-header {
    margin-top: 0rem;
    margin-bottom: 0rem;
    font-size: 4.5rem;
    line-height: 1.2;
    font-weight: 600 !important;
    letter-spacing: -0.03em;
    text-align: center;
    color: white;
}

.custom-nft-mint-text-description {
    margin-top: 2rem;
    margin-bottom: 0rem;
    font-size: 1.5rem;
    line-height: 1.2;
    letter-spacing: -0.03em;
    text-align: center;
    color: white;
}

.custom-nft-mint-button-container {
    text-align: center;
    margin-top: 3rem;
}
.custom-nft-stake-buttons {
    padding: 12px 20px !important;
    border-radius: 30px !important;
    background-color: #ba16b9 !important;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease !important;
    color: #fff !important;
    line-height: 26px !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 16px !important;
    // width: 140px;
    // height: 50px;
    border: 0px solid !important;
    margin-bottom: 2rem;
}

.custom-nft-stake-buttons:hover {
    background-color: hsla(0, 0%, 100%, 0.82) !important;
    font-family: Inter, sans-serif;
    color: #0d0d0d !important;
    font-weight: 600;
}

.custom-nft-stake-buttons:focus {
    outline: none !important;
    box-shadow: none !important;
}

.custom-nft-mint-buttons {
    padding: 12px 20px !important;
    border-radius: 30px !important;
    background-color: #ba16b9 !important;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease !important;
    color: #fff !important;
    line-height: 26px !important;
    font-weight: 600 !important;
    letter-spacing: 1px;
    text-transform: none;
    font-size: 16px !important;
    width: 140px;
    height: 50px;
    border: 0px solid !important;
    margin-bottom: 2rem !important;
    margin-left: 3rem;
}

.custom-nft-mint-buttons:hover {
    background-color: hsla(0, 0%, 100%, 0.82) !important;
    font-family: Inter, sans-serif;
    color: #0d0d0d !important;
    font-weight: 600;
}

.custom-nft-mint-buttons:focus {
    outline: none !important;
    box-shadow: none !important;
}

.custom-slider-image {
    width: 250px;
    height: 350px;
}

.nft-image-container {
    text-align: center;
    margin-top: 30px;
}

.export-logo {
    text-align: center;
}

.market-logo {
    text-align: center;
}

.nft-image {
    border-radius: 20px;
}

.nft-text {
    color: white;
    margin-top: 15px;
}

.team-image {
    border-radius: 20px;
    margin-top: 30px;
}

.team-text {
    color: white;
    margin-top: 15px;
    text-align: center !important;
}

.ant-steps-item-title {
    color: white !important;
    font-weight: 600 !important;
    font-size: 26px !important;
}

.ant-steps-item-description {
    color: white !important;
    font-weight: 600 !important;
    font-size: 20px !important;
}

.ant-steps-item-wait .ant-steps-icon {
    color: black !important;
}

@media (max-width: 767.98px) {
    .custom-presale-container {
        padding-top: 2rem !important;
    }

    .custom-nft-mint-text-header {
        font-size: 2rem;
    }

    .custom-nft-mint-text-description {
        font-size: 1.3rem;
    }

    .custom-nft-mint-buttons{
        margin-left: 0rem !important;
    }

    .export-logo-image{
        width: 250px !important;
    }
}

textarea:focus, input:focus{
    outline: none;
}