@import '../../assets/sass/custom.scss';

.mint-container{

    .mint-container-text-mint{
        color: white;
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 110%;
    }

    .mint-container-text-orcs{
        color: white;
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 110%;
    }

    .mint-container-chat-image{
        // width: 500px;
        // height: 400px;
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .mint-container-text-description{
        color: white;
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 160%;
        margin-bottom: 30px;
    }
    
    .nft-mint-container{
        display: flex;
        align-items: center;
        justify-content: center;

        .mint-container-text-quantity {
            display: flex;
            justify-content: center;
            color: white;
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 600;
            font-size: 36px;
            line-height: 120%;
        }

        .mint-container-text-select-quantity {
            display: flex;
            justify-content: center;
            color: white;
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
            margin-top: 10px;
        }

        .mint-amount-container{
            display: flex;
            justify-content: center;
            margin-top: 15px;

            button {
                background: $color-yellow-gradient;
                border-radius: 26px;
                padding: 12px 36px;
                color: black;
                font-family: 'Readex Pro';
                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                line-height: 120%;
                border: none;
            }
            
            div {
                display: flex;
                align-items: center;
                color: white;
                margin: 0px 30px;
                font-family: 'Readex Pro';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 120%;
            }
        }

        .mint-container-text-summary {
            display: flex;
            justify-content: center;
            color: white;
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 120%;
            margin-top: 35px;
        }

        .summary-container {
            margin-top: 5px;

            .summary-container-item {
                display: flex;
                justify-content: space-between;
                color: white;
                margin-bottom: 17px;

                div{
                    font-family: 'Readex Pro';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 120%;
                }
            }
        }

        .mint-container-mint-button {
            margin-top: 50px;
            background: $color-yellow-gradient;
            border: 1px solid rgba(255, 255, 255, 0.16);
            border-radius: 100px;
            justify-content: center;
            align-items: center;
            padding: 15px 40px;
            color: black;
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
        }
    }
    
    .online-gif-tools {
        position: fixed;
        float: right;
        right: -148px;
        bottom: -281px;
        z-index: -1;
    }
}

@media (max-width: 767.98px) {
    .mint-container-chat-image{
        width: 100%;
    }
}