.nft-card {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-family: 'Readex Pro';

    .first-border {
        background: #FFD600;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 41px;  
        width: 255px;
        display: flex;
        justify-content: center;

        .second-border {
            margin: 5px;
            width: 90%;
            height: 97% !important;
            background: linear-gradient(180deg, #E0E0E0 0%, rgba(128, 128, 128, 0.2) 100%);
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 41px !important;

            .ant-card-cover {
                display: flex;
                justify-content: center;

                img {
                    margin: 5px;
                    width: 90% !important;
                    border-radius: 45px !important;
                    align-items: center !important;
                }
            }

            .ant-card-body {
                text-align: center;

                .ant-card-meta {
                    display: flex;
                    justify-content: center;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                    .ant-card-meta-title {
                        font-size: 25px !important;
                    }

                    .ant-card-meta-description {
                        font-size: 22px !important;
                    }
                }

                button {
                    max-width: 100px;
                    border: none;
                    background: #332A3F !important;
                    border-radius: 56px !important;
                }
            }
        }
    }
}

.ant-card {
    border-radius: 10px !important;
    cursor:auto;
}

.ant-card-cover {
    border-radius: 10px 10px 0px 0px !important;
}

.nft-image {
    border-radius: 10px 10px 0px 0px !important;
    width: 255px !important;
}

.ant-card-body {
    padding: 10px !important;
}

.ant-card-bordered {
    border: none;
}

.ant-card-cover {
    margin: 0 !important;
}

.ant-card-meta-title{
    color: black !important;
    font-size: 20px;
    font-weight: 500;
    padding-left: 10px;
}

.ant-card-meta-description {
    color: black !important;
    font-size: 16px;
    font-weight: 300;
    padding-left: 10px;
}

.btn-action {
    border-radius: 8px !important;
    background-color: #ba16b9 !important;
    border-color: #ba16b9 !important;
    width: 100% !important;
    height: 40px;
    margin-top: 25px !important;
}

@media (max-width: 767.98px) { 
    .nft-card {
        margin-top: 20px;
        text-align: -webkit-center;
    }
    .ant-card {
        width: 80% !important;
    }
}