@import '../../assets/sass/custom.scss';

.rewards-amount {
    color: white !important;
    font-size: 24px;
    font-weight: 500;
    font-family:'Roboto', sans-serif !important;
    text-align: center !important;
}

.btn-claim {
    border-radius: 8px !important;
    background-color: #ba16b9 !important;
    border-color: #ba16b9 !important;
    width: 100px !important;
    height: 40px;
}

.ant-pagination-item-ellipsis {
    color: white !important;
}

.ant-pagination-item-active {
    color: #ba16b9 !important;
}

.ant-pagination-options {
    visibility: hidden;
}

.ant-pagination{
    margin-left: 110px;
}

@media (max-width: 767.98px) {
    .btn-claim {
        width: 80% !important;
        margin-top: 20px;
    }

    .ant-pagination{
        margin-left: 0px;
    }
}