@import '../../assets/sass/custom.scss';

.project-logo {
    width: 300px;
    height: 300px;
}

.flip-type {
    font-size: 40px;
    font-family: 'Winterland' !important;
    font-weight: 500;
    color: white;
}

.choose-button{
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Winterland';
    font-weight: 300;
    width: 150px;
    color: black;
    border-radius: 5px;
    border: 0px;
}

.flip-button {
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Winterland';
    font-weight: 300;
    width: 200px;
    color: black;
    border-radius: 5px;
    border: 0px;
}

.flip-button:hover{
    background-color: #ba16b9 !important;
    color: white;
    border-radius: 5px;
    border: 0px;
}

.select-type-button{
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Winterland';
    font-weight: 300;
    background-color: #ba16b9 !important;
    color: white;
}

.head-container{
    text-align: right;
}

.bet-type{
    font-size: 40px;
    font-family: 'Winterland';
    font-weight: 500;
    color: white;
}

.amount-contanier {
    max-width: 500px;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-bottom: 2rem;
}

.amount-button{
    text-align: center;
}

.history-container {
    font-size: 1.4rem;
    font-family: 'Winterland';
    text-align: center;

    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;

    .history-row {
        margin-left: auto !important;
        margin-right: auto !important;

        border-top: 1px solid rgba(91, 198, 206, 0.54);
        border-left: 1px solid rgba(91, 198, 206, 0.54);
        border-right: 1px solid rgba(91, 198, 206, 0.54);
        background-color: #C0C0C022;
        padding: .4rem .8rem;

        .history-text {
            color: white;
            .win {
                color: green;
            }
            .lose {
                color: #f4c430;
            }

            .text2 {
                font-size: 1.8rem;
            }
            .text3 {
                font-size: 1.2rem;
                color:#888a1a;
            }
        }

        .history-tx {
            a {
                transition: all 0.2s ease-in;
                cursor: pointer;

                &:hover {
                    color: rgba(91, 198, 206, 0.54);
                    text-decoration: underline;
                }
            }
        }
    }

    border-bottom: 1px solid rgba(91, 198, 206, 0.54);
}

.fee-amount {
    font-size: 1.4rem;
    font-family: 'Winterland';
    margin-bottom: 4rem;
    color: white;
}

.dropdown-menu {
    min-width: inherit !important;
}

.token-id-toggle{
    margin-left: 15px !important;
    margin-top: 10px !important;
    font-size: 20px !important;
    font-weight: 300 !important;
    background-color: #ba16b9 !important;
    border: 0px solid !important;

    &:focus {
        border: 0px solid !important;
    }

    span {
        font-family: 'Winterland' !important;
    }
}

.token-id-menu {
    background-color: rgba(29, 26, 29, 0.9) !important;
    // font-family: $font-morris;
    margin-top: -4px !important;
    
    .dropdown-item {
        color: white !important;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #e9ecef44 !important;
        }

        span {
            margin-right: 0.6rem;
            // font-size: 1.2rem;
            line-height: 24px;
            height: 24px;
            vertical-align: middle;
            width: 60%;
            font-family: 'Winterland' !important;
        }
    }
}

@media (max-width: 767.98px) {
    .flip-type {
        margin-top: 30px;
    }
    .head-container{
        text-align: center;
    }
    .tail-container{
        text-align: center;
        margin-top: 20px;
    }
    .bet-type{
        margin-top: 20px;
    }
    .amount-button {
        text-align: center;
    }
    .token-id-toggle {
        margin-top: 30px !important;
    }
}