@import '../../assets/sass/custom.scss';

.flip-type {
    font-size: 40px;
    font-family: 'Winterland' !important;
    font-weight: 500;
    color: white;
}

.choose-button{
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Winterland';
    font-weight: 300;
    width: 150px;
    color: black;
    border-radius: 5px;
    border: 0px;
}

.flip-button {
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Winterland';
    font-weight: 300;
    width: 200px;
    color: black;
    border-radius: 5px;
    border: 0px;
}

.flip-button:hover{
    background-color: #ba16b9 !important;
    color: white;
    border-radius: 5px;
    border: 0px;
}

.select-type-button{
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Winterland';
    font-weight: 300;
    background-color: #ba16b9 !important;
    color: white;
}

.head-container{
    text-align: right;
}

.bet-type{
    font-size: 40px;
    font-family: 'Winterland';
    font-weight: 500;
    color: white;
}

.amount-contanier {
    max-width: 500px;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-bottom: 2rem;
}

.amount-button{
    text-align: center;
}

@media (max-width: 767.98px) {
    .head-container{
        text-align: center;
    }
    .tail-container{
        text-align: center;
        margin-top: 20px;
    }
    .bet-type{
        margin-top: 20px;
    }
    .amount-button {
        text-align: center;
    }
}