nav.MuiPagination-root {
    margin: 0 auto !important;

    li button {
        color: white !important;
    }
}

.customDropdownDiv {
  color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  display: none;
  top: 42px;
  z-index: 1;
  left: 0;
  width: 100%;
  background: white;
  max-height: 400px;
  overflow-y: auto;
  border-radius: 10px;

  > div:hover {
    background-color: #57575f;
  }
}